<section class="wrapper">
  <mat-expansion-panel class="panel" [disabled]="false">
    <mat-expansion-panel-header>
      <div class="panel-header">
        <mat-icon class="add-button">add_circle</mat-icon> <span>Connect entity</span>
      </div>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let connection of activeConnections$ | async">
      <mat-panel-description *ngIf="connection.isActive" class="panel-row">
        <div class="connection-name">{{connection.name}}</div>
        <div>{{connection.type}}</div>
      </mat-panel-description>
    </ng-container>
  </mat-expansion-panel>
</section>
