<section class="wrapper">
  <mat-expansion-panel class="panel" [disabled]="connectionsLength() === 0">
    <mat-expansion-panel-header>
      <div class="panel-header">
          <a routerLink="/add">
            <mat-icon class="add-button">add_circle</mat-icon> 
          </a>
          <span *ngIf="connectionsLength() === 0; else elseBlock">Connect entity</span>
        <ng-template #elseBlock>Entities connected ({{connectionsLength()}})</ng-template>
      </div>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let connection of activeConnections">
      <mat-panel-description *ngIf="connection.isActive === true" class="panel-row">
        <div>
          <div class="connection-name">{{connection.name}}</div>
          <div>{{connection.type}}</div>
        </div>
        <mat-icon class="remove-button" color="warn" (click)="connection.isActive = false">cancel</mat-icon>
      </mat-panel-description>
    </ng-container>
  </mat-expansion-panel>
</section>
